import java.util.Scanner;

//----zad1
public class Main {
    public static void main(String[] args) {

        {
            boolean czypada = false;
            boolean CzySwieciSlonce = true;
            if (czypada == true && CzySwieciSlonce == false) {
                System.out.println("plucha");
            }
            if (czypada == true && CzySwieciSlonce == true) {
                System.out.println("tęcza");
            }
            if (czypada == false && CzySwieciSlonce == true) {
                System.out.println("Słonecznie");
            }
            if (czypada == false && CzySwieciSlonce == false) {
                System.out.println("pochmurno");
            }
        }

    }
}

//----zad6
import java.util.Scanner;

public class Main {
    public static void main(String[] args) {
        Scanner s = new Scanner(System.in);
        System.out.println("Wprowadź wartość a");
        int a = s.nextInt();
        System.out.println("Wprowadź warość b");
        int b = s.nextInt();
        if (a > b) {
            int c = a;
            a = b;
            b = c;

        }
        int z1 = (int) (a + (Math.random() * b));
        int z2 = (int) (a + (Math.random() * b));
        int z3 = (int) (a + (Math.random() * b));


        if (z2 < z3 && z2 < z1 && z1 < z3 && z1 > z2 && z3 > z1 && z3 > z2) {
            System.out.println(z2 + " < " + z1 + " < " + z3);

        }
        if (z1 < z2 && z1 < z3 && z2 < z3 && z2 > z1 && z3 > z1 && z3 > z2) {
            System.out.println(z1 + " < " + z2 + " < " + z3);
        }
        if (z3 < z2 && z3 < z1 && z2 < z1 && z2 > z3 && z1 > z3 && z1 > z2) {
            System.out.println(z3 + " < " + z2 + " < " + z1);
        }
        if (z1 < z2 && z1 < z3 && z3 < z2 && z3 > z1 && z2 > z1 && z2 > z3) {
            System.out.println(z1 + " < " + z3 + " < " + z2);
        }
        if (z2 < z1 && z2 < z3 && z3 < z1 && z3 > z2 && z1 > z2 && z1 > z3) {
            System.out.println(z2 + " < " + z3 + " < " + z1);
        }
        if (z3 < z2 && z3 < z1 && z1 < z2 && z1 > z3 && z2 > z1 && z2 > z3) {
            System.out.println(z3 + " < " + z1 + " < " + z2);
        }



    }

}
//----8
import java.util.Scanner;

public class Main {
    public static void main(String[] args) {
        Scanner s = new Scanner(System.in);
        System.out.println("Jaką walutę posiadasz");
        String waluta1 = s.next();
        if (waluta1.equals("PLN")) {
            System.out.println("Podaj kwotę");
            double kwota = s.nextDouble();
            double JPY = kwota * 30.27;
            System.out.println(kwota + " PLN to JPY " + JPY);
        }
        if (waluta1.equals("JPY")) {
            System.out.println("Podaj kwotę");
            double kwota = s.nextDouble();
            double PLN = kwota * 0.03027;
            System.out.println(kwota + " JPY to PLN " + PLN);
        }

    }
}
